<!DOCTYPE html>
<html xmlns="http:/>/www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Strona tytułowa</title>
    <link type="text/css" rel="stylesheet"
          href="../static/style.css"
          th:href="@{/style.css}"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<h2>Dzień Dobry Wietnam!</h2>
<h3>Możesz zacząc pisać...</h3>
<form th:action="@{/login}">
    <p style="color:deepskyblue">
        <label for="login">Aby się wylogować, kliknij tutaj=></label>
        <button class="btn btn-primary" type="submit">LOGOUT</button>
    </p>
</form>
</body>
</html>